#info{
	clear:all;
	margin-top: 6%;
	background-color:#13C4A5;
	padding:5%;
}
.center {
	text-align: center;
}
#info  h1{
	color:white;
}
#info  h3{
	color:whitesmoke;
	padding-right: 25%;
	padding-left: 25%;
	word-wrap: break-word;
	
}
#info  button{

	background:radial-gradient(#34495E,#34495E,black);
	color:whitesmoke;
	border: 0;
	width:50px;
	height:35px;
}

#about{
	margin-top: 5%;
}