#info,#photos{
	clear:all;
	margin-top: 6%;
	background-color:#13C4A5;
	padding:5%;
}
.center {
	text-align: center;
}
#info  h1{
	color:white;
}
#info  h3{
	color:whitesmoke;
	padding-right: 25%;
	padding-left: 25%;
	word-wrap: break-word;
	
}
#info  button{
	background:radial-gradient(#34495E,#34495E,black);
	color:whitesmoke;
	border: 0;
	padding: 10px;
}

#about{
	margin-top: 5%;
	text-align: center;
	padding: 0 25%;
}

#about  h3{
	color:gray;
	padding-right: 25%;
	padding-left: 25%;
	word-wrap: break-word;
	
}
#about h1{
   width: 100%; 
   text-align: center; 
   border-bottom: 2px solid gray; 
   line-height: 0.1em;

}

#about span{
	color:gray;
	background:white; 
    padding:0 10px; 
}

#photos{
	padding: 0 25%;
	padding-top: 10px;
}

#photos h1{
   width: 100%; 
   text-align: center; 
   border-bottom: 2px solid gray; 
   line-height: 0px;

}

#photos span{
	color:gray;
	background:#13C4A5; 
}

#photos ul{
	padding:6%;
	display: table;
	list-style: none;


}
#photos ul li img{
	width: 120px;
	height: 120px;
	float:left;
	border: 5px solid white;
}

#photos ul li{
	width: 140px;
	float:left;
}
.desc{
	color:white;
	font-size: 20px;
}

.content{
	color:whitesmoke;
}




