footer{
	background-color:#233445;
	padding: 1% 0;
	padding-left: 75%;
}
#footer_internship{
	color:white;
}
@media only screen and  (max-width : 320px) {
	footer{
		padding-left: 0;
	}
	footer div:nth-child(even){
		
	}


	.footer_container{
		text-align: center;
	}
	footer>div>img{
		margin:0 40px;
	}

}